<div class="side-bar-header">
  <div class="header-name">
    <%#  ログインしているユーザーの編集をするため 、edit_user_path(current_user)と指定%>
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-room">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>

<div class="rooms">
<%# 「チャットルーム名を表示する」という処理を繰り返し実行 %>
<%# 「|room|」の部分は変数名なので命名規則はないですが、今回は分かりやすいように「room」 %>
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
      <%# room.nameの「name」は、roomsテーブルのカラム名 %>
      <%# パスにroomを引数とすることで、メッセージと紐付いているチャットルームのidを持たせることが可能 %>
        <%= link_to room.name, room_messages_path(room) %>
      </div>
    </div>
  <% end %>
</div>